Repository Donran/florist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, static_validation, e2e:website-test

.gitlab-ci.yml:

image: donran/auto-selenium-python:1.0

stages:
  - test
  - deploy

pages:
  stage: deploy
  script:
    - jekyll build -s site -d public
  artifacts:
    paths:
      - public
  only:
    changes:
      - "site/**/*"
      - "less/**/*"

static_validation:
  stage: test
  script:
    - jekyll build -s site -d public
    - ./tests/validate/css_validator.sh public
    - ./tests/validate/html_validator.sh public
  only:
    changes:
      - "site/**/*"
      - "less/**/*"
      - "tests/validate/*"


e2e:website-test:
  stage: test
  services:
    - name: selenium/standalone-firefox
      alias: selenium_firefox
  script:
    - jekyll build -s site -d public
    - python3 -m http.server 8080 -d public > /dev/null 2>&1 &
    - cd tests/webtest
    - python3 -m unittest
  only:
    changes:
      - "site/**/*"
      - "less/**/*"
      - "tests/webtest/*"

Fix CI, remove pages only condition
  .gitlab-ci.yml
Due: none

Removed node/npm/less from Dockerfile
  Dockerfile
Due: none

Updated test documentation to include jekyll
  tests.md
Due: none

Fix navbar active
  site/_includes/navbar.html
Due: pages, static_validation, e2e:website-test

Fixed error in CI
  .gitlab-ci.yml
Due: none

Updated pages CI
  .gitlab-ci.yml
Due: none

Updated jekyll serve CI
  .gitlab-ci.yml
Due: none

Updated jekyll test documentation
  tests.md
Due: none

Fix closed days works without js
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Updated footer text
  site/_includes/footer.html
Due: pages, static_validation, e2e:website-test

Added html comment for bootstrap script includes
  site/_layouts/default.html
Due: pages, static_validation, e2e:website-test

Removed placeholder from footer
  site/_includes/footer.html
Due: pages, static_validation, e2e:website-test

fix: align öppetider
  site/_includes/footer.html
  site/assets/css/style.less
Due: pages, static_validation, e2e:website-test

Removed placeholder text
  site/index.html
Due: pages, static_validation, e2e:website-test

Fix map not visible without js enabled
  site/assets/css/style.less
  site/assets/js/script.js
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Change font on stängda dagar title
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Added padding to footer
  site/_includes/footer.html
Due: pages, static_validation, e2e:website-test

Fix open days test to work with new html structure
  tests/webtest/test_information.py
Due: e2e:website-test

fix email test to match new domain in email
  tests/webtest/test_information.py
Due: e2e:website-test

Added python dependencies to tests.md
  tests.md
Due: none

Fixed google maps
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Removed Floristgården header from footer and fixed spacing
  site/_includes/footer.html
Due: pages, static_validation, e2e:website-test

Added id for map
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Updated readme.md
  README.md
Due: none

Removed obselete iframe attribute
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Add time simulating test
  tests/webtest/test_closeddays.py
Due: e2e:website-test

Add time simulating test
  site/assets/js/script.js
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Fix closeddays sort to work
  site/assets/js/script.js
Due: pages, static_validation, e2e:website-test

Closed days are now in yml data
  site/_data/closed_days.yml
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Open days are now in yml data file
  site/_data/open_days.yml
  site/_includes/footer.html
Due: pages, static_validation, e2e:website-test

Comment and fix sorting script
  site/assets/js/script.js
Due: pages, static_validation, e2e:website-test

Added update.md update.md is a file with documentation on how to update the site
  update.md
Due: none

Update update.md
  update.md
Due: none

Compressed employee images
  site/assets/images/employees/anna_pettersson.jpg
  site/assets/images/employees/fredrik_ortqvist.jpg
  site/assets/images/employees/orjan_johansson.jpg
Due: pages, static_validation, e2e:website-test

Compressed product images
  site/assets/images/products/brollop.png
Due: pages, static_validation, e2e:website-test

load closeddays from yaml file
  tests/webtest/test_closeddays.py
Due: e2e:website-test

added closed title for sundays, as well as a test for it
  site/_data/open_days.yml
  tests/webtest/test_information.py
Due: pages, static_validation, e2e:website-test

Remove placeholder decription for products data file
  site/_data/products.yml
Due: pages, static_validation, e2e:website-test

fix screenshot test work on all pages
  tests/screenshots.py
Due: none

fix footer not at bottom
  site/_layouts/default.html
  site/assets/css/style.less
  site/hitta_hit.html
Due: pages, static_validation, e2e:website-test
