Repository Donran/florist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, static_validation, e2e:website-test

.gitlab-ci.yml:

image: pluppen/auto-selenium-python:latest

stages:
  - test
  - deploy

pages:
  stage: deploy
  before_script:
    - npm install -g less
  script:
    - lessc less/main.less public/css/style.css
  artifacts:
    paths:
      - public
  only:
    changes:
      - "public/**/*"
      - "less/**/*"

static_validation:
  stage: test
  before_script:
    - npm install -g less
  script:
    - lessc less/main.less public/css/style.css
    - ./tests/validate/css_validator.sh public
    - ./tests/validate/html_validator.sh public
  only:
    changes:
      - "public/**/*"
      - "less/**/*"
      - "tests/validate/*"


e2e:website-test:
  stage: test
  services:
    - name: selenium/standalone-firefox
      alias: selenium_firefox
  before_script:
    - pip3 install selenium==4.0.0a6.post2 requests
    - npm install -g less
  script:
    - lessc less/main.less public/css/style.css
    - php -S 0.0.0.0:8080 -t public public/index.html &
    - cd tests/webtest
    - python3 -m unittest
  only:
    changes:
      - "public/**/*"
      - "less/**/*"
      - "tests/webtest/*"

fix loop error in product test
  tests/webtest/test_products.py
Due: e2e:website-test

fix error in product tests
  tests/webtest/test_products.py
Due: e2e:website-test

fix str error in test_products price
  tests/webtest/test_products.py
Due: e2e:website-test

fix error in assertIn price product test
  tests/webtest/test_products.py
Due: e2e:website-test

change from atrribute to property in product tests product id
  tests/webtest/test_products.py
Due: e2e:website-test

change back to getattribute
  tests/webtest/test_products.py
Due: e2e:website-test

update ids för index.html
  public/index.html
Due: pages, static_validation, e2e:website-test

remove print from product test
  tests/webtest/test_products.py
Due: e2e:website-test

Center 'Våra produkter'
  public/index.html
Due: pages, static_validation, e2e:website-test

Update employee test
  tests/webtest/test_employees.py
Due: e2e:website-test

Updated CI, fixed php standalone server
  .gitlab-ci.yml
Due: none

Removed trailing spaces
  public/index.html
Due: pages, static_validation, e2e:website-test

Updated personal images
  public/personal.html
Due: pages, static_validation, e2e:website-test

forgot to add . before css url
  public/personal.html
Due: pages, static_validation, e2e:website-test

Add footer and fin style on personal page
  less/main.less
  public/personal.html
Due: pages, static_validation, e2e:website-test

Add footer to index
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Add margin top to footer
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Change oppettider in index.html
  public/index.html
Due: pages, static_validation, e2e:website-test

Update README.md
  README.md
Due: none

update opening hours test to work with opening hours in footer
  tests/webtest/test_information.py
Due: e2e:website-test

Sales Men
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

remove öpptetider as row and fix mobile viewport design errors in personal.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Navbar added
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Added parallax
  less/main.less
  public/index.html
Due: pages, static_validation, e2e:website-test

Removed images test
  tests/webtest/test_images.py
Due: e2e:website-test

Add hitta_hit with map
  less/main.less
  public/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Add hitta hit to navbar, add navbar to hitta hit
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Use bootstrap containers on parallax and navbar
  less/main.less
  public/index.html
Due: pages, static_validation, e2e:website-test

Fix navbar on all sites, fix typos in product testing, add test for hitta_hit
  public/hitta_hit.html
  public/personal.html
  tests/webtest/test_map.py
  tests/webtest/test_products.py
Due: pages, static_validation, e2e:website-test

add display-4 to index.html
  public/index.html
Due: pages, static_validation, e2e:website-test

fix uppercase on Floristgården
  public/index.html
Due: pages, static_validation, e2e:website-test

Remove ! from index.hmtl welcome msg
  public/index.html
Due: pages, static_validation, e2e:website-test

Fix active nav item err
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

fix zip code not at the same row as address
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Removed sr-only stuff
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Navbar test
  tests/webtest/test_navbar.py
Due: e2e:website-test

testing if address test works
  public/hitta_hit.html
  public/index.html
  public/personal.html
  tests/webtest/test_information.py
Due: pages, static_validation, e2e:website-test

testing if address test works
  tests/webtest/test_information.py
Due: e2e:website-test
