Repository Donran/florist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, static_validation, e2e:website-test

pages:
  stage: deploy
  before_script:
  - npm install -g less
  script:
  - lessc less/main.less public/css/style.css
  artifacts:
    paths:
    - public

static_validation:
  stage: test
  before_script:
  - npm install -g less
  script:
  - lessc less/main.less public/css/style.css
  - ./tests/validate/css_validator.sh public
  - ./tests/validate/html_validator.sh public

e2e:website-test:
  stage: test
  services:
  - name: selenium/standalone-firefox
    alias: selenium_firefox
  before_script:
  - pip3 install selenium==4.0.0a6.post2 requests
  - npm install -g less
  script:
  - lessc less/main.less public/css/style.css
  - php -S 0.0.0.0:8080 -t public public/index.html &
  - cd tests/webtest
  ...

Fix error in address test
  tests/webtest/test_information.py
Due: e2e:website-test

Add test for roles, add roles to personal.html
  public/personal.html
  tests/webtest/test_employees.py
  tests/webtest/test_information.py
Due: pages, static_validation, e2e:website-test

remove annas role for err
  public/personal.html
Due: pages, static_validation, e2e:website-test

remove inten. err
  public/personal.html
Due: pages, static_validation, e2e:website-test

Updated tests.md
  tests.md
Due: none

Misspell in tests.md
  tests.md
Due: none

fix css_validator.sh
  tests/validate/css_validator.sh
Due: static_validation

Fix tests.md
  tests.md
Due: none

Stopped using php for CI
  .gitlab-ci.yml
Due: none

Lowered prices by 1kr
  public/index.html
  tests/webtest/test_products.py
Due: pages, static_validation, e2e:website-test

Update tests.md
  tests.md
Due: none

Added syntax highlighting for bash in tests.md
  tests.md
Due: none

added favicon and image 'Floristgården Logo'
  public/images/Floristgården Logo.png
  public/index.html
Due: pages, static_validation, e2e:website-test

Updated parallax and added favicons
  public/favicons/android-icon-144x144.png
  public/favicons/android-icon-192x192.png
  public/favicons/android-icon-36x36.png
  public/favicons/android-icon-48x48.png
  public/favicons/android-icon-72x72.png
  public/favicons/android-icon-96x96.png
  public/favicons/apple-icon-114x114.png
  public/favicons/apple-icon-120x120.png
  public/favicons/apple-icon-144x144.png
  public/favicons/apple-icon-152x152.png
  public/favicons/apple-icon-180x180.png
  public/favicons/apple-icon-57x57.png
  public/favicons/apple-icon-60x60.png
  public/favicons/apple-icon-72x72.png
  public/favicons/apple-icon-76x76.png
  public/favicons/apple-icon-precomposed.png
  public/favicons/apple-icon.png
  public/favicons/browserconfig.xml
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-96x96.png
  public/favicons/favicon.ico
  public/favicons/manifest.json
  public/favicons/ms-icon-144x144.png
  public/favicons/ms-icon-150x150.png
  public/favicons/ms-icon-310x310.png
  public/favicons/ms-icon-70x70.png
  public/index.html
Due: pages, static_validation, e2e:website-test

Updated parallax css
  less/main.less
Due: pages, static_validation, e2e:website-test

Removed invalid HTML
  public/index.html
Due: pages, static_validation, e2e:website-test

Fixed validator error, added favicon to all sites
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Edited welcome message
  public/index.html
Due: pages, static_validation, e2e:website-test

added Favicon to all sites
  public/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Fixed information test
  tests/webtest/test_information.py
Due: e2e:website-test

Added social media icons that link to Floristgården's social medias
  less/main.less
  material/information.md
  public/index.html
Due: pages, static_validation, e2e:website-test

Added link to 'Hem' via Floristgården title
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Added logo to navbar
  less/main.less
  public/index.html
Due: pages, static_validation, e2e:website-test

renamed logo and fix HTML errors
  public/images/floristgarden_logo.png
  public/index.html
Due: pages, static_validation, e2e:website-test

Update information regarding docker in tests.md
  tests.md
Due: none

New docker image, no installs needed
  .gitlab-ci.yml
Due: none

Add projects Dockerfile :D
  Dockerfile
Due: none

Remove dockerfile text from tests.md
  tests.md
Due: none

Fix employee test
  tests/webtest/test_employees.py
Due: e2e:website-test

Removed whitespace
  public/index.html
Due: pages, static_validation, e2e:website-test

runner test
  public/index.html
Due: pages, static_validation, e2e:website-test

Fix text on 'Vilka är vi?'
  public/index.html
Due: pages, static_validation, e2e:website-test

Updated navbar test
  tests/webtest/test_navbar.py
Due: e2e:website-test

Change header image
  less/main.less
  public/images/flowers.jpg
  public/index.html
Due: pages, static_validation, e2e:website-test

Path conditions:
  pages: any of: public/**/*, less/**/*
  static_validation: any of: public/**/*, less/**/*, tests/validate/*
  e2e:website-test: any of: public/**/*, less/**/*, tests/webtest/*
