Repository Donran/florist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: static_validation, e2e:website-test

static_validation:
  stage: test
  script:
  - jekyll build -s site -d public
  - ./tests/validate/css_validator.sh public
  - ./tests/validate/html_validator.sh public

e2e:website-test:
  stage: test
  services:
  - name: selenium/standalone-firefox
    alias: selenium_firefox
  script:
  - jekyll serve -B -s site -P 8080
  - cd tests/webtest
  - python3 -m unittest

New CI to follow branching
  .gitlab-ci.yml
Due: none

Collection of fixes Fix style on blommogram Fix enter test for test_zipcode.py Fix popper on enter Move blommogram from header to own section Remove css in html on blommogram
  site/assets/css/style.less
  site/assets/js/script.js
  site/index.html
  tests/webtest/test_zipcode.py
Due: static_validation, e2e:website-test

Removed some extra space
  site/index.html
Due: static_validation, e2e:website-test

Removed some extra space
  site/hitta_hit.html
Due: static_validation, e2e:website-test

Added pyyaml to Dockerfile
  Dockerfile
  tests.md
Due: none

Changed deploy conditions on CI
  .gitlab-ci.yml
Due: none

Opening hours section
  site/_includes/head.html
  site/assets/css/style.less
  site/assets/js/script.js
  site/hitta_hit.html
  site/index.html
Due: static_validation, e2e:website-test

Removed selenium service
  .gitlab-ci.yml
  Dockerfile
  tests.md
  tests/webtest/WebTestBase.py
Due: e2e:website-test

Buttons on start page
  site/assets/css/style.less
  site/hitta_hit.html
  site/index.html
  tests/webtest/test_header_buttons.py
  tests/webtest/test_information.py
Due: static_validation, e2e:website-test

Open banner & removed Sinon
  site/_layouts/default.html
  site/assets/css/style.less
  site/assets/js/script.js
  site/hitta_hit.html
  tests/webtest/test_closeddays.py
  tests/webtest/test_openstatus.py
Due: static_validation, e2e:website-test

Change status bar background color
  site/assets/css/style.less
Due: static_validation, e2e:website-test

Change status bar placement and design
  site/_includes/navbar.html
  site/_layouts/default.html
  site/assets/css/style.less
Due: static_validation, e2e:website-test

Add style change on scroll
  site/assets/js/script.js
Due: static_validation, e2e:website-test

Updated "adding a test" section.
  tests.md
Due: none

Removed span around div
  site/_includes/navbar.html
Due: static_validation, e2e:website-test

added typescript
  site/assets/js/script.ts
  tsconfig.json
  tslint.json
Due: static_validation, e2e:website-test

Added a file for the branch
  branch_file
Due: none

Add navbar change on scroll
  site/_includes/navbar.html
  site/_layouts/default.html
  site/assets/css/style.less
  site/assets/js/script.js
Due: static_validation, e2e:website-test

Update tech_spike.md to contain pros and cons of js vs typescript.
  tech_spike.md
Due: none

start to convert js to typescript
  .gitignore
  package-lock.json
  site/assets/js/script.ts
  tsconfig.json
Due: static_validation, e2e:website-test

fixed 1 problem from tslint in script.js
  site/assets/js/script.ts
Due: static_validation, e2e:website-test

Fixed == -> === in script.ts, and let -> const
  site/assets/js/script.ts
Due: static_validation, e2e:website-test

Remove tslint warnings
  package-lock.json
  site/assets/js/script.ts
  tsconfig.json
Due: static_validation, e2e:website-test

Updated gitignore
  .gitignore
Due: none

Removed lock file
  package-lock.json
Due: none

Fixed linter warnings
  site/assets/js/script.ts
Due: static_validation, e2e:website-test

fix margin error on parallax
  site/_layouts/default.html
  site/assets/css/style.less
  site/assets/js/script.ts
  tsconfig.json
  tslint.json
Due: static_validation, e2e:website-test

Update README.md
  README.md
Due: none

Fixade navbar utan js.
  site/_layouts/default.html
Due: static_validation, e2e:website-test

Fixade fel i less-filen
  site/assets/css/style.less
Due: static_validation, e2e:website-test

Fixade navbar utan JS
  site/_includes/navbar.html
  site/_layouts/default.html
  site/assets/js/script.js
Due: static_validation, e2e:website-test

Ändrade bilden
  site/assets/images/flowers.jpg
Due: static_validation, e2e:website-test

Shortened list for opening hours
  site/_data/open_days.yml
  site/assets/js/script.js
  tests/webtest/test_information.py
  tests/webtest/test_openstatus.py
Due: static_validation, e2e:website-test

added personal messages
  site/_data/personal.yml
  site/personal.html
  tests/webtest/test_employee_welcome.py
  tests/webtest/test_employees.py
Due: static_validation, e2e:website-test

flowergram info
  site/_includes/footer.html
  site/assets/css/style.less
  site/index.html
  tests/webtest/test_information.py
Due: static_validation, e2e:website-test

Fixed typo
  site/hitta_hit.html
Due: static_validation, e2e:website-test

Fixed typo
  tests/webtest/test_navbar.py
Due: e2e:website-test

Path conditions:
  static_validation: any of: site/**/*, tests/validate/*
  e2e:website-test: any of: site/**/*, tests/webtest/*
