Repository Donran/florist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, static_validation, e2e:website-test

.gitlab-ci.yml:

image: pluppen/auto-selenium-python:latest

stages:
  - test
  - deploy

pages:
  stage: deploy
  script:
    - lessc less/main.less public/css/style.css
  artifacts:
    paths:
      - public
  only:
    changes:
      - "public/**/*"
      - "less/**/*"

static_validation:
  stage: test
  script:
    - lessc less/main.less public/css/style.css
    - ./tests/validate/css_validator.sh public
    - ./tests/validate/html_validator.sh public
  only:
    changes:
      - "public/**/*"
      - "less/**/*"
      - "tests/validate/*"


e2e:website-test:
  stage: test
  services:
    - name: selenium/standalone-firefox
      alias: selenium_firefox
  script:
    - lessc less/main.less public/css/style.css
    - python3 -m http.server 8080 -d public > /dev/null 2>&1 &
    - cd tests/webtest
    - python3 -m unittest
  only:
    changes:
      - "public/**/*"
      - "less/**/*"
      - "tests/webtest/*"

Fixed spelling on 'Brollopsbruketter'
  public/index.html
Due: pages, static_validation, e2e:website-test

Fixed spelling on 'Brollopsbruketter' and test_products 'Brollopsbruketter'
  tests/webtest/test_products.py
Due: e2e:website-test

Added why choose us
  less/main.less
  public/index.html
Due: pages, static_validation, e2e:website-test

Add new images for products
  public/images/bild1.jpg
  public/images/products/begravning.jpg
  public/images/products/brollop.png
  public/images/products/host.jpg
  public/images/products/rosor.jpg
  public/images/products/sommar.jpg
  public/images/products/tulpaner.jpg
  public/index.html
Due: pages, static_validation, e2e:website-test

Update README.md
  README.md
Due: none

Updated logo
  less/main.less
  public/favicons/android-icon-144x144.png
  public/favicons/android-icon-192x192.png
  public/favicons/android-icon-36x36.png
  public/favicons/android-icon-48x48.png
  public/favicons/android-icon-72x72.png
  public/favicons/android-icon-96x96.png
  public/favicons/apple-icon-114x114.png
  public/favicons/apple-icon-120x120.png
  public/favicons/apple-icon-144x144.png
  public/favicons/apple-icon-152x152.png
  public/favicons/apple-icon-180x180.png
  public/favicons/apple-icon-57x57.png
  public/favicons/apple-icon-60x60.png
  public/favicons/apple-icon-72x72.png
  public/favicons/apple-icon-76x76.png
  public/favicons/apple-icon-precomposed.png
  public/favicons/apple-icon.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-96x96.png
  public/favicons/favicon.ico
  public/favicons/ms-icon-144x144.png
  public/favicons/ms-icon-150x150.png
  public/favicons/ms-icon-310x310.png
  public/favicons/ms-icon-70x70.png
  public/images/floristgarden_logo.png
Due: pages, static_validation, e2e:website-test

Added some spacing to index
  public/index.html
Due: pages, static_validation, e2e:website-test

added logo to all pages
  public/hitta_hit.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Decrease header text size little bit
  less/main.less
Due: pages, static_validation, e2e:website-test

Fix map
  less/main.less
Due: pages, static_validation, e2e:website-test

Add spacing to personal and hitta hit
  public/hitta_hit.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Added tests for social media icons
  tests/webtest/test_information.py
  tests/webtest/test_socialmedia.py
Due: e2e:website-test

Added tests for social media icons
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Update Dockerfile
  Dockerfile
Due: none

Small test fixes
  tests/webtest/test_information.py
  tests/webtest/test_online.py
Due: e2e:website-test

Clarified a comment and a print
  tests/webtest/test_socialmedia.py
Due: e2e:website-test

Remove implicitly wait
  tests/webtest/WebTestBase.py
Due: e2e:website-test

first version of test_closeddays.py
  .vscode/settings.json
  tests/webtest/test_closeddays.py
Due: e2e:website-test

Updated test to check for icons and not only links
  tests/webtest/test_socialmedia.py
Due: e2e:website-test

updated test_closeddays.py
  .vscode/settings.json
  tests/webtest/test_closeddays.py
Due: e2e:website-test

Updated closeddays test and added functionality
  public/hitta_hit.html
  public/index.html
  public/js/script.js
  public/personal.html
Due: pages, static_validation, e2e:website-test

fix errors and add test for ordered closed days
  public/hitta_hit.html
  tests/webtest/test_closeddays.py
Due: pages, static_validation, e2e:website-test

Fix test and add style to closed days
  public/hitta_hit.html
  public/js/script.js
Due: pages, static_validation, e2e:website-test

Footer styling
  public/hitta_hit.html
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Updated closeddays test
  tests/webtest/test_closeddays.py
Due: e2e:website-test

fix sorting test
  tests/webtest/test_closeddays.py
Due: e2e:website-test

add test for closing days sorting
  tests/webtest/test_closeddays.py
Due: e2e:website-test

remove trailing spaces
  tests/webtest/test_closeddays.py
Due: e2e:website-test

remove type from script tags
  public/index.html
  public/personal.html
Due: pages, static_validation, e2e:website-test

Fixed script.js for pages
  public/js/script.js
Due: pages, static_validation, e2e:website-test

Update so closed days work without js, and change font of title on closed days
  public/hitta_hit.html
  public/js/script.js
Due: pages, static_validation, e2e:website-test

fix error in script.js
  public/js/script.js
Due: pages, static_validation, e2e:website-test

Fix title on hitta_hit
  public/hitta_hit.html
Due: pages, static_validation, e2e:website-test

Update tests.md
  tests.md
Due: none

removed old less file
  less/main.less
Due: pages, static_validation, e2e:website-test

New docker image
  .gitlab-ci.yml
  site/personal.html
Due: none

Updated CI
  .gitlab-ci.yml
Due: none

Remove public
  .gitignore
  public/hitta_hit.html
Due: pages, static_validation, e2e:website-test
